body {
    margin: 0;
    padding: 0;
    background-color: black;
}

canvas {
    display: block;
    margin: auto;
    width: 640px;
}

.left, .right {
    position: absolute;
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
